[Unit]
Description=The cloudflare bouncer for CrowdSec
After=syslog.target network.target remote-fs.target nss-lookup.target crowdsec.service
Before=netfilter-persistent.service

[Service]
Type=notify
ExecStart=/usr/bin/crowdsec-cloudflare-bouncer -c /etc/crowdsec/crowdsec-cloudflare-bouncer.yaml
ExecStartPre=/usr/bin/crowdsec-cloudflare-bouncer -c /etc/crowdsec/crowdsec-cloudflare-bouncer.yaml -t
ExecStartPost=/bin/sleep 0.1

[Install]
WantedBy=multi-user.target
